[Unit]
Description=GOcontroll KL15 monitoring service

[Service]
Type=exec
RemainAfterExit=no

ExecStart=/usr/moduline/bin/kl15_monitor controllerType

[Install]
WantedBy=multi-user.target
