[Unit]
Description=GOcontroll Bluetooth Interface
After=bluetooth.target

[Service]
Type=forking
RemainAfterExit=yes

ExecStart=/usr/moduline/bash/go-bluetooth-start.sh
ExecStop=python3 /usr/moduline/python/initLed.py 0 &

[Install]
WantedBy=multi-user.target
