
[Unit]
Description=Connectivity guard service
After=network.target


[Service]
ExecStart= node /usr/moduline/nodejs/connectivity-guard.js &
Type=simple
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target