
[Unit]
Description=File upload server
After=network.target


[Service]
ExecStart=/usr/moduline/bin/go-upload-server
Type=simple
RemainAfterExit=no

[Install]
WantedBy=sysinit.target