[Unit]
Description=supply control
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/moduline/poweroff-control.hex


[Install]
WantedBy=multi-user.target