[Unit]
Description=simcom
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/bin/bash /usr/scripts/simcom-start.sh
ExecStop=/usr/moduline/simcom-stop.hex &

[Install]
WantedBy=multi-user.target
